<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link rel="stylesheet" href="start.css">
</head>
<body>
<div class="container">
    <div id="text">
        <h1>Witaj na stronie!</h1>
    </div>
    <div id="perspective">
        <div id="parent">
            <div id="front"></div>
            <div id="back"></div>
            <div id="left"></div>
            <div id="right"></div>
            <div id="top"></div>
            <div id="bottom"></div>
        </div>
    </div>
    <div id="register" align="center">
        <a href="/registration"><button id="button" type="submit">Przejdź do formularza rejestracji</button></a>
    </div>
</div>
</body>
</html>
